#!/usr/bin/make -f

# Security Hardening
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

export DEB_CPPFLAGS_MAINT_APPEND = -DNO_GPIO

%:
	dh $@

# non-standard Makefile name
.PHONY: override_dh_auto_build override_dh_auto_clean
override_dh_auto_build:
	$(MAKE) -f micro-evtd.mak
override_dh_auto_clean:
	$(MAKE) -f micro-evtd.mak clean

get-orig-source:
	uscan --download-current-version
